%address
  %ul
    %li
      DIRECCIÓN:
      %br
      San Ignacio de Loyola 1049 C.C La Rotonda II, La Molina - Lima

    %li
      TELÉFONOS:
      %br
      01348-3993

    %li
      R.P.M:
      %br
      *568880 *568140

